target
.vscode
flamegraph.svg
perf.data
perf.data.old
*.pdf
!docs/oprf.pdf
codebook.toml
logs
*.ptau

# Foundry (forge)
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/lib/
soljson-latest.js
*.env
environments/
