function {{ function_name }}Round1Contribution()
    internal
    pure
    returns (Types.Round1Contribution memory)
{
    return Types.Round1Contribution({
        commShare: Types.BabyJubJubElement({
            x: {{ comm_share_x }},
            y: {{ comm_share_y }}
        }),
        commCoeffs: {{ comm_coeffs }},
        ephPubKey: Types.BabyJubJubElement({
            x: {{ eph_pub_key_x }},
            y: {{ eph_pub_key_y }}
        })
    });
}
