function {{ function_name }}Round1Contribution()
    internal
    pure
    returns (OprfKeyGen.Round1Contribution memory)
{
    return OprfKeyGen.Round1Contribution({
        commShare: BabyJubJub.Affine({
            x: {{ comm_share_x }},
            y: {{ comm_share_y }}
        }),
        commCoeffs: {{ comm_coeffs }},
        ephPubKey: BabyJubJub.Affine({
            x: {{ eph_pub_key_x }},
            y: {{ eph_pub_key_y }}
        })
    });
}
